<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>

        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <!-- placeholder app key for testing -->
        <env name="APP_KEY" value="base64:6w/3NrtF7EQ0wm0E8Vmkw9SWwq/g7/9B9ykdXvyogJg="/>

        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="MAIL_DRIVER" value="array"/>

        <env name="DB_CONNECTION" value="testing"/>

        <env name="STATS_PROVIDER_URL" value="http://statsdl.foo/v1"/>
        <env name="MOCK_STATS_DATA" value="1"/>

        <env name="STATS_BEGIN_DATE" value="2018-07-01"/>

    </php>
</phpunit>
